.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

.body{
    margin: 0;
    overflow-y: hidden;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    height: 100%
}

.horizontal-container{
    display: flex;
}

.force-layout{
    flex-grow: 2;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

.selection-pane{
    flex-grow: 1;
    flex-basis: 25%;
    background-color: lightcoral;
    max-width: 200px;
    height: 100%;
}

.header{
    background-color: peachpuff;
    height: 50px;
    text-align: center;
    line-height: 45px;
    color: mediumaquamarine;
    font-size: 35px;
    font-weight: bold;
}

.town-container{
    display: flex;
    flex-grow: 1;

}

.towns{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-right: 30px;
    padding-left: 5px;
}

